<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Exercise13____Database.My.MySettings.CustomerConnectionString"
            connectionString="Data Source=MOO-NITRO\SQLEXPRESS;Initial Catalog=Customer;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Exercise13____Database.My.MySettings.CustomerConnectionString1"
            connectionString="Data Source=MOO-NITRO;Initial Catalog=Customer;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>